
# Ignore .pyc folders/files
__pycache__
*.pyc

# Ignore build folders/files
.conda
.tools
.vscode
build/*
dist/*
*.spec

# Ignore test images
src/*.jpg
src/*.png
src/*.jpeg
src/*.exr

# Ignore the local version of libs
gsnodegraph
gswidgetkit
tests

# Ignore test Gimel Studio project files
*.gimel

# Ignore .sketch files
*.sketch

# Ignore other misc.
.vscode
env
.DS_Store
