
# Ignore .pyc folders/files
__pycache__
*.pyc

# Ignore pyinstaller build folders/files
build
dist
*.spec

# Ignore test images 
src/*.jpg
src/*.png

# Ignore the local version of libs
gsnodegraph
tests